@import "colors";

.tpl-bottom-form {
  padding-top: 115px;
  padding-bottom: 120px;

  @media screen and (max-width: 575px) {
    padding-top: 64px;
    padding-bottom: 56px;
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: $black;

    @media screen and (max-width: 575px) {
      font-size: 24px;
    }

    & span {
      color: $blue1;
    }
  }

  &__content {
    margin-top: 44px;

    @media screen and (max-width: 575px) {
      margin-top: 24px;
    }
  }
}