.tpl-creditors {
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 48px;

  @media screen and (max-width: 575px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__title {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    text-align: center;
    color: #134D90;
  }

  &__items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 575px) {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }

  &__item {
    border-top: 1px solid #EDF5FF;
    @media screen and (max-width: 575px) {
      border-top: none;
    }

    &:nth-child(odd) {
      padding-right: 12px;
      @media screen and (max-width: 575px) {
        padding-right: 0;
      }
    }

    &:nth-child(even) {
      padding-left: 12px;
      @media screen and (max-width: 575px) {
        padding-left: 0;
      }
    }

    &:nth-child(3) {
      border-bottom: 1px solid #EDF5FF;
      @media screen and (max-width: 575px) {
        border-bottom: none;
      }
    }

    &:nth-child(4) {
      border-bottom: 1px solid #EDF5FF;
      @media screen and (max-width: 575px) {
        border-bottom: none;
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &-item {
    padding: 24px 0;

    &__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      color: #134D90;
    }

    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #061138;
      margin-top: 8px;
    }
  }
}