@import "colors";

.tpl-faq {
  padding-top: 120px;
  padding-bottom: 76px;

  @media screen and (max-width: 575px) {
    padding-top: 64px;
    padding-bottom: 28px;
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
    text-align: center;
    color: #134D90;

    @media screen and (max-width: 575px) {
      font-size: 28px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 40px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__image {
    max-width: 440px;
    width: 100%;
    height: auto;

    @media screen and (max-width: 768px) {
      margin: auto;
    }

    & img {
      width: 100%;
      display: flex;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    width: 100%;
    height: 48px;
    background: #F79605;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    box-sizing: border-box;
    margin-top: 20px;
  }

  &__items {
    min-width: 600px;
    max-width: 746px;
    width: 100%;

    @media screen and (max-width: 768px) {
      min-width: auto;
      margin-bottom: 28px;
    }
  }

  &-item {
    border-top: 2px solid #DCEFFB;
    height: 100%;
    cursor: pointer;
    position: relative;

    &__title {
      font-family: 'IBM Plex Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      color: #484E63;

      padding-left: 84px;
      position: relative;
      padding-top: 22px;
      padding-bottom: 22px;

      @media screen and (max-width: 575px) {
        font-size: 16px;
        padding-left: 56px;
        padding-top: 8px;
        padding-bottom: 8px;
      }


      & svg {
        transition: 0.2s;
        position: absolute;
        top: calc(50% - 12px);
        left: 20px;

        @media screen and (max-width: 575px) {
          left: 12px;
        }
      }

      &.active {
        padding-bottom: 10px;

        & svg {
          transform: rotate(180deg);
        }
      }
    }

    &__text {
      font-family: 'IBM Plex Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #484E63;

      padding-top: 12px;
      padding-left: 84px;
      padding-right: 24px;
      padding-bottom: 36px;
      display: none;

      @media screen and (max-width: 575px) {
        padding-left: 56px;
      }
    }
  }
}