@import "colors";

.tpl {
  .tpl-form-row {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;

    @media screen and (max-width: 575px) {
      flex-direction: column;
    }
  }

  .tpl-form-group {
    width: 100%;
    margin-bottom: 20px;

    &_hidden {
      margin: 0;
      padding: 0;
    }

    &_amount {
      & .tpl-form-group__wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #A3A5B1;
        box-sizing: border-box;
        border-radius: 15px;
        height: 60px;
      }

      & .tpl-form-group__input {
        margin-top: 0;
        border: none;
        height: 58px;
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: #484E63;

        &:focus {
          border: none;
        }
      }

      & .tpl-form-group__btn_minus {
        margin-left: -1px;
      }

      & .tpl-form-group__btn_plus {
        margin-right: -1px;
      }
    }

    &__label {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: #2C2C2C;
    }

    &__input {
      margin-top: 8px;
      display: block;
      width: 100%;
      height: 60px;
      border: 1px solid $grey;
      border-radius: 15px;
      box-sizing: border-box;
      padding: 17px;
      transition: 0.2s;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: $black;

      &::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: rgba(44, 44, 44, 0.5);
      }

      &:focus {
        border: 1px solid $blue1;
      }

      &:focus-visible {
        outline: none;
      }
    }

    &__btn {
      width: 60px;
      min-width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      border: 1px solid $grey;
      box-sizing: border-box;
      box-shadow: 0px 4px 8px rgba(10, 20, 116, 0.05);
      position: relative;
      transition: 0.2s;
      cursor: pointer;
      border-radius: 10px;

      &:before,
      &:after {
        position: absolute;
        content: '';
        display: block;
        background-color: $blue1;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      &_plus {
        &:before {
          width: 20px;
          height: 2px;
        }

        &:after {
          width: 2px;
          height: 20px;
        }
      }

      &_minus {
        &:before {
          width: 20px;
          height: 2px;
          background-color: $blue1;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }

      &:hover {
        background-color: $blue4;
      }
    }
  }

  .tpl-form-submit {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 55px;
    width: 270px;
    height: 56px;
    background: linear-gradient(92.92deg, #1ED372 0%, #16C8D3 100%);
    box-shadow: 0px 6px 22px rgba(0, 206, 106, 0.35);
    border-radius: 15px;
    border: none;
    outline: none;

    @media screen and (max-width: 575px) {
      width: 100%;
    }
  }


  .tpl-input-label {
    margin-bottom: 8px;
    display: block;

    & span:last-child {
      font-weight: 300;
      font-size: 12px;
      line-height: 160%;
      color: $black;
    }
  }

  .tpl-checkbox__sign {
    border: 1px solid #A3A5B1;
    box-sizing: border-box;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;

    &:after {
      top: 0px;
      left: 6px;
      width: 5px;
      height: 12px;
      border: solid $blue1;
      border-width: 0 2px 2px 0;
    }
  }
}
