@import "colors";
@import "form-common";
@import "steps-progress";

.tpl-data-check {
  padding-top: 64px;
  padding-bottom: 100px;

  @media screen and (max-width: 575px) {
    padding-top: 32px;
    padding-bottom: 80px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 30px;
    @media screen and (max-width: 575px) {
      column-gap: 0;
    }
  }

  &__image {
    @media screen and (max-width: 575px) {
      display: none;
    }

    & svg {
      max-width: 400px;
      max-height: 400px;
      width: 100%;
    }
  }

  &__info {
    max-width: 670px;
    width: 100%;
  }

  &__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 120%;
    max-width: 500px;
    width: 100%;

    @media screen and (max-width: 575px) {
      font-size: 30px;
    }

    & span {
      color: $blue1;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 140%;
    color: $grey;
    margin-top: 12px;

    @media screen and (max-width: 575px) {
      font-size: 18px;
      margin-top: 20px;
    }
  }

  &__animation {
    margin-top: 28px;
  }
}

.tpl-animation {
  &__top {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 21px;

    @media screen and (max-width: 575px) {
      margin-bottom: 18px;
    }
  }
}

.tpl-animation-sticks {

  &__items {
    height: 32px;
    width: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6px;
  }

  &__item {
    height: 30%;
    width: 4px;
    animation: pulse 1.2s ease infinite;
    background-color: $blue3;
    animation-delay: 0;
    border-radius: 13px;

    &:nth-child(2) {
      animation-delay: .3s;
    }

    &:nth-child(3) {
      animation-delay: .6s;
    }

    &:nth-child(4) {
      animation-delay: .9s;
    }

    &:nth-child(5) {
      animation-delay: 1.2s;
    }
  }
}

@keyframes pulse {
  0% {
    height: 30%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 30%;
  }
}

.tpl-animation-percentage {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: $blue1;
  column-gap: 4px;
}

.tpl-animation-progressbar {
  position: relative;
  width: 100%;
  background-color: $blue2;
  border-radius: 10px;
  height: 8px;

  &__fill {
    width: 8px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $blue1;
    border-radius: 10px;
    transition: 5s;

    &.active {
      width: 100%;
    }
  }
}