@import "colors";
@import "form-common";

.tpl-unsubscribe {
  padding-top: 56px;
  padding-bottom: 88px;

  @media screen and (max-width: 767px) {
    padding-top: 32px;
    padding-bottom: 70px;
  }
  @media screen and (max-width: 575px) {
    padding-bottom: 64px;
  }

  &#unsubscribe2 {

    & .tpl-unsubscribe-data {
      padding-top: 41px;
      @media screen and (max-width: 575px) {
        padding-top: 44px;
      }
    }

    & .tpl-unsubscribe-data__title {
      margin-bottom: 20px;
    }

    & .tpl-unsubscribe-form__row {
      display: flex;
      align-items: flex-start;
    }

    & .tpl-unsubscribe-form__button {
      margin-top: 32px;
      width: 100%;

      @media screen and (max-width: 575px) {
        margin-top: 28px;
      }
    }

    & .tpl-unsubscribe-form__left {
      width: 100%;
      max-width: 210px;

      @media screen and (max-width: 767px) {
        max-width: 100%;
      }
    }
  }

  &#unsubscribe3 {
    & .tpl-unsubscribe-data {
      padding-top: 38px;
      padding-bottom: 56px;

      @media screen and (max-width: 575px) {
        padding-bottom: 47px;
      }
    }

    & .tpl-unsubscribe-data__title {
      @media screen and (max-width: 575px) {
        margin-bottom: 20px;
      }
    }

  }

  &#unsubscribe4 {
    & .tpl-unsubscribe-data {
      padding-top: 40px;
      padding-bottom: 56px;

      @media screen and (max-width: 575px) {
        padding-bottom: 46px;
      }
    }

    & .tpl-unsubscribe-data__title {
      margin-bottom: 30px;
    }

    & .tpl-unsubscribe-data__form {
      margin-top: 24px;

      @media screen and (max-width: 575px) {
        margin-top: 38px;
      }
    }

    & .tpl-unsubscribe-data__button {
      margin-top: 36px;

      @media screen and (max-width: 575px) {
        margin-top: 42px;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 30px;

    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

  &__image {
    max-width: 470px;
    width: 100%;

    @media screen and (max-width: 768px) {
      max-width: 100%;
    }

    & .tpl-unsubscribe__title {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 120%;
    color: $black;

    @media screen and (max-width: 575px) {
      font-weight: 600;
      font-size: 30px;
      line-height: 120%;
      color: #161D35;
    }

    & span {
      color: $blue1;
    }
  }

  &__img {
    max-width: 370px;
    max-height: 370px;
    width: 100%;
    height: auto;
    display: flex;

    margin-top: 21px;

    @media screen and (max-width: 767px) {
      margin: auto;
      margin-top: 24px;
    }

    @media screen and (max-width: 575px) {
      max-width: 324px;
      max-height: 324px;
      margin-top: 20px;
    }

    & > * {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__data {
    min-width: 500px;
    max-width: 670px;
    width: 100%;

    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 100%;
      min-width: unset;
    }

    & .tpl-unsubscribe__title {
      display: none;

      @media screen and (max-width: 767px) {
        display: block;
        margin-bottom: 24px;
      }
      @media screen and (max-width: 575px) {
        margin-bottom: 15px;
      }
    }

    & .tpl-steps-progress {
      &__fill {
        width: 75%;
      }
    }
  }
}

.tpl-unsubscribe-data {
  box-sizing: border-box;
  min-height: 330px;
  width: 100%;
  padding-top: 62px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 64px;

  box-shadow: 0px 12px 25px -1px rgba(61, 109, 201, 0.12);
  border-radius: 0px 0px 15px 15px;

  @media screen and (max-width: 767px) {
    max-width: 100%;
    min-width: 100%;
  }

  @media screen and (max-width: 575px) {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 48px;
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: $black;
    margin-bottom: 16px;

    @media screen and (max-width: 575px) {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: #161D35;
    }

    & span {
      color: $blue1;
    }

    @media screen and (max-width: 767px) {
      display: block;
      margin-bottom: 24px;
    }
  }

  &__info {
    background-color: #E6F4F9;
    border-radius: 15px;
    padding: 20px;

    @media screen and (max-width: 575px) {
      font-size: 14px;
      padding: 11px 16px;
      line-height: 19px;
    }
  }

  &__form {
    margin-top: 32px;
    display: flex;
    align-items: flex-start;
    column-gap: 24px;

    @media screen and (max-width: 575px) {
      flex-direction: column;
      margin-top: 34px;
    }
  }

  &__success {
    margin-top: 24px;
    margin-bottom: 37px;

    @media screen and (max-width: 575px) {
      margin-top: 20px
    }
  }
}

.tpl-unsubscribe-form {
  width: 100%;

  &__row {
    display: flex;
    align-items: flex-end;
    column-gap: 24px;
    width: 100%;

    @media screen and (max-width: 575px) {
      flex-direction: column;
    }

    & .tpl-form-group {
      margin-bottom: 0;

      @media screen and (max-width: 575px) {
        margin-bottom: 20px;
      }
    }
  }

  &__timer {
    font-size: 14px;
    line-height: 140%;
    margin-top: 16px;
    @media screen and (max-width: 575px) {
      margin-top: -4px;
    }

    & span {
      font-weight: 600;
    }
  }

  &__actions {
    margin-top: 8px;
  }

  &__action {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: $blue1;
    display: block;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }

    &:not(:first-child) {
      margin-top: 10px;
    }

    &_repeat {
      display: none;
    }
  }

  &__button {
    min-width: 200px !important;

    &:disabled {
      background: #C3C4CA;
      box-shadow: none;
    }
  }
}