<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="stylesheet" href="resources/lib/rangeslider/rangeslider.css"/>
    <link rel="stylesheet" href="resources/lib/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="resources/css/template.min.css"/>
    <link rel="stylesheet" href="resources/css/index.min.css"/>
    <title>Be fin V3</title>
</head>
<body>


<div class="tpl">
    @@include('blocks/header.html')
    <main class="tpl-main">
        @@include('blocks/advantages.html')
        @@include('blocks/faq.html')
        @@include('blocks/reviews.html')
        @@include('blocks/creditors.html')
    </main>
    @@include('blocks/footer.html')
</div>


<script src="resources/lib/jquery-3.6.0.min.js"></script>
<script src="resources/lib/dadata/dadataSuggestions.min.js"></script>
<script src="resources/lib/email-autocomplete/jquery.email-autocomplete.js"></script>
<script src="resources/lib/form-calc/form-calc.min.js"></script>
<script src="resources/lib/rangeslider/rangeslider.min.js"></script>
<script src="resources/lib/swiper/swiper-bundle.min.js"></script>
<script src="resources/js/modernizr.min.js"></script>

<script src="resources/js/template.min.js"></script>
</body>
</html>
