<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="stylesheet" href="resources/lib/rangeslider/rangeslider.css"/>
    <link rel="stylesheet" href="resources/lib/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="resources/css/template.min.css"/>
    <link rel="stylesheet" href="resources/css/shopwindow.min.css"/>
    <title>Be fin V3</title>
</head>
<body>

<div class="tpl">
    @@include('blocks/header.html')
    <main class="tpl-main">
        <section class="tpl-shopwindow">
            <div class="tpl-shopwindow__top">
                <div class="tpl-cont">
                    <div class="tpl-shopwindow-top">
                        <div class="tpl-shopwindow-top__title">
                            Петров Петр Петрович, вам предварительно одобрен займ.
                        </div>
                        <div class="tpl-shopwindow-top__text">
                            <p>Выберите минимум 4 варианта для повышенной вероятности получения денег сегодня.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tpl-shopwindow__main">
                <div class="tpl-cont">
                    <div class="tpl-shopwindow__offers">

                        <a href="https://t.leads.tech/click/13/113/?sub1=monzi-of-list-dozarplati-113&amp;sub2=none&amp;sub3=none&amp;sub4=none&amp;sub5=none&amp;sub6=none&amp;sub7=none&amp;sub8=1&amp;sub9=monzi&amp;sub10={cid}"
                           class="tpl-shopwindow__offer" target="_blank">
                            <div class="tpl-shopwindow-offer">
                                <div class="tpl-shopwindow-offer__wrapper">
                                    <div class="tpl-shopwindow-offer__top">
                                        <div class="tpl-shopwindow-offer__logo">
                                            <img src="https://ltt-storage.storage.yandexcloud.net/60d1b56e745738.87476005"
                                                 alt="shopwindow-logo">
                                        </div>

                                        <div class="tpl-shopwindow-offer__label">Заявка одобрена</div>
                                    </div>
                                    <div class="tpl-shopwindow-offer__props">
                                        <div class="tpl-offer-props">
                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Сумма займа</div>
                                                <div class="tpl-offer-prop__text">
                                                    100&nbsp;000р
                                                </div>
                                            </div>

                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Процент</div>
                                                <div class="tpl-offer-prop__text">
                                                    от 0 % в
                                                    день
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tpl-btn tpl-btn_green tpl-shopwindow-offer__btn">Получить деньги!</div>
                                </div>
                            </div>
                        </a>

                        <a href="https://t.leads.tech/click/13/355/?sub1=monzi-of-list-kviza-355&sub2=none&sub3=none&sub4=none&sub5=none&sub6=none&sub7=none&sub8=2&sub9=monzi&sub10={cid}"
                           class="tpl-shopwindow__offer" target="_blank">
                            <div class="tpl-shopwindow-offer">
                                <div class="tpl-shopwindow-offer__wrapper">
                                    <div class="tpl-shopwindow-offer__logo">
                                        <img src="https://ltt-bucket.storage.yandexcloud.net/623096671c9c50.13998704"
                                             alt="shopwindow-logo">
                                    </div>
                                    <div class="tpl-shopwindow-offer__label">ВЫСОКАЯ ВЕРОЯТНОСТЬ ОДОБРЕНИЯ</div>
                                    <div class="tpl-shopwindow-offer__props">
                                        <div class="tpl-offer-props">
                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Сумма займа</div>
                                                <div class="tpl-offer-prop__text">
                                                    100&nbsp;000р
                                                </div>
                                            </div>

                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Процент</div>
                                                <div class="tpl-offer-prop__text">
                                                    от 0 % в
                                                    день
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tpl-btn tpl-btn_green tpl-shopwindow-offer__btn">Получить деньги!</div>
                                </div>
                            </div>
                        </a>

                        <a href="https://t.leads.tech/click/13/66/?sub1=monzi-of-list-zaymer-66&sub2=none&sub3=none&sub4=none&sub5=none&sub6=none&sub7=none&sub8=3&sub9=monzi&sub10={cid}"
                           class="tpl-shopwindow__offer" target="_blank">
                            <div class="tpl-shopwindow-offer">
                                <div class="tpl-shopwindow-offer__wrapper">
                                    <div class="tpl-shopwindow-offer__logo">
                                        <img src="https://ltt-storage.storage.yandexcloud.net/5f351dd60b14b2.32194265"
                                             alt="shopwindow-logo">
                                    </div>
                                    <div class="tpl-shopwindow-offer__label">Заявка одобрена</div>
                                    <div class="tpl-shopwindow-offer__props">
                                        <div class="tpl-offer-props">
                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Сумма займа</div>
                                                <div class="tpl-offer-prop__text">
                                                    100&nbsp;000р
                                                </div>
                                            </div>

                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Процент</div>
                                                <div class="tpl-offer-prop__text">
                                                    от 0 % в
                                                    день
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tpl-btn tpl-btn_green tpl-shopwindow-offer__btn">Получить деньги!</div>
                                </div>
                            </div>
                        </a>

                        <a href="https://t.leads.tech/click/13/18/?sub1=monzi-of-list-newzaymigo-18&sub2=none&sub3=none&sub4=none&sub5=none&sub6=none&sub7=none&sub8=4&sub9=monzi&sub10={cid}"
                           class="tpl-shopwindow__offer" target="_blank">
                            <div class="tpl-shopwindow-offer">
                                <div class="tpl-shopwindow-offer__wrapper">
                                    <div class="tpl-shopwindow-offer__logo">
                                        <img src="https://ltt-storage.storage.yandexcloud.net/5ee767abebe1f0.08133779"
                                             alt="shopwindow-logo">
                                    </div>
                                    <div class="tpl-shopwindow-offer__label">Заявка одобрена</div>
                                    <div class="tpl-shopwindow-offer__props">
                                        <div class="tpl-offer-props">
                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Сумма займа</div>
                                                <div class="tpl-offer-prop__text">
                                                    100&nbsp;000р
                                                </div>
                                            </div>

                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Процент</div>
                                                <div class="tpl-offer-prop__text">
                                                    от 0 % в
                                                    день
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tpl-btn tpl-btn_green tpl-shopwindow-offer__btn">Получить деньги!</div>
                                </div>
                            </div>
                        </a>

                        <a href="https://t.leads.tech/click/13/257/?sub1=monzi-of-list-ruszaimrazvitie-257&sub2=none&sub3=none&sub4=none&sub5=none&sub6=none&sub7=none&sub8=5&sub9=monzi&sub10={cid"
                           class="tpl-shopwindow__offer" target="_blank">
                            <div class="tpl-shopwindow-offer">
                                <div class="tpl-shopwindow-offer__wrapper">
                                    <div class="tpl-shopwindow-offer__logo">
                                        <img src="https://ltt-storage.storage.yandexcloud.net/612dfd0e837851.53203392"
                                             alt="shopwindow-logo">
                                    </div>
                                    <div class="tpl-shopwindow-offer__label">Заявка одобрена</div>
                                    <div class="tpl-shopwindow-offer__props">
                                        <div class="tpl-offer-props">
                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Сумма займа</div>
                                                <div class="tpl-offer-prop__text">
                                                    100&nbsp;000р
                                                </div>
                                            </div>

                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Процент</div>
                                                <div class="tpl-offer-prop__text">
                                                    от 0 % в
                                                    день
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tpl-btn tpl-btn_green tpl-shopwindow-offer__btn">Получить деньги!</div>
                                </div>
                            </div>
                        </a>

                        <a href="https://t.leads.tech/click/13/108/?sub1=monzi-of-list-nadodeneg-108&sub2=none&sub3=none&sub4=none&sub5=none&sub6=none&sub7=none&sub8=6&sub9=monzi&sub10={cid}"
                           class="tpl-shopwindow__offer" target="_blank">
                            <div class="tpl-shopwindow-offer">
                                <div class="tpl-shopwindow-offer__wrapper">
                                    <div class="tpl-shopwindow-offer__logo">
                                        <img src="https://ltt-storage.storage.yandexcloud.net/60f67bf334c583.68990408"
                                             alt="shopwindow-logo">
                                    </div>
                                    <div class="tpl-shopwindow-offer__label">Заявка одобрена</div>
                                    <div class="tpl-shopwindow-offer__props">
                                        <div class="tpl-offer-props">
                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Сумма займа</div>
                                                <div class="tpl-offer-prop__text">
                                                    100&nbsp;000р
                                                </div>
                                            </div>

                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Процент</div>
                                                <div class="tpl-offer-prop__text">
                                                    от 0 % в
                                                    день
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tpl-btn tpl-btn_green tpl-shopwindow-offer__btn">Получить деньги!</div>
                                </div>
                            </div>
                        </a>

                        <a href="https://t.leads.tech/click/13/288/?sub1=monzi-of-list-kredius-288&sub2=none&sub3=none&sub4=none&sub5=none&sub6=none&sub7=none&sub8=7&sub9=monzi&sub10={cid}"
                           class="tpl-shopwindow__offer" target="_blank">
                            <div class="tpl-shopwindow-offer">
                                <div class="tpl-shopwindow-offer__wrapper">
                                    <div class="tpl-shopwindow-offer__logo">
                                        <img src="https://ltt-bucket.storage.yandexcloud.net/6177ffb710fdd4.46246163"
                                             alt="shopwindow-logo">
                                    </div>
                                    <div class="tpl-shopwindow-offer__label">Заявка одобрена</div>
                                    <div class="tpl-shopwindow-offer__props">
                                        <div class="tpl-offer-props">
                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Сумма займа</div>
                                                <div class="tpl-offer-prop__text">
                                                    100&nbsp;000р
                                                </div>
                                            </div>

                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Процент</div>
                                                <div class="tpl-offer-prop__text">
                                                    от 0 % в
                                                    день
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tpl-btn tpl-btn_green tpl-shopwindow-offer__btn">Получить деньги!</div>
                                </div>
                            </div>
                        </a>

                        <a href="https://t.leads.tech/click/13/5/?sub1=monzi-of-list-credit7-5&sub2=none&sub3=none&sub4=none&sub5=none&sub6=none&sub7=none&sub8=8&sub9=monzi&sub10={cid}"
                           class="tpl-shopwindow__offer" target="_blank">
                            <div class="tpl-shopwindow-offer">
                                <div class="tpl-shopwindow-offer__wrapper">
                                    <div class="tpl-shopwindow-offer__logo">
                                        <img src="https://ltt-bucket.storage.yandexcloud.net/61fb89ebce9694.39749843"
                                             alt="shopwindow-logo">
                                    </div>
                                    <div class="tpl-shopwindow-offer__label">Заявка одобрена</div>
                                    <div class="tpl-shopwindow-offer__props">
                                        <div class="tpl-offer-props">
                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Сумма займа</div>
                                                <div class="tpl-offer-prop__text">
                                                    100&nbsp;000р
                                                </div>
                                            </div>

                                            <div class="tpl-offer-prop">
                                                <div class="tpl-offer-prop__title">Процент</div>
                                                <div class="tpl-offer-prop__text">
                                                    от 0 % в
                                                    день
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tpl-btn tpl-btn_green tpl-shopwindow-offer__btn">Получить деньги!</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include('blocks/footer.html')
</div>


<script src="resources/lib/jquery-3.6.0.min.js"></script>
<script src="resources/lib/dadata/dadataSuggestions.min.js"></script>
<script src="resources/lib/email-autocomplete/jquery.email-autocomplete.js"></script>
<script src="resources/lib/form-calc/form-calc.min.js"></script>
<script src="resources/lib/rangeslider/rangeslider.min.js"></script>
<script src="resources/lib/swiper/swiper-bundle.min.js"></script>
<script src="resources/js/modernizr.min.js"></script>

<script src="resources/js/template.min.js"></script>
</body>
</html>
