<section class="tpl-creditors">
    <div class="tpl-cont">
        <div class="tpl-creditors__title">Информация о кредиторах, представленных на сайте</div>
        <div class="tpl-creditors__items">
            <div class="tpl-creditors__item">
                <div class="tpl-creditors-item">
                    <div class="tpl-creditors-item__title">ООО МФК «СМСФИНАНС»</div>
                    <div class="tpl-creditors-item__text">№ 2120177002022 , ОГРН 1117746198998, 123100, г. Москва, проезд Красногвардейский 1-й, д. 12, стр. 3, пом. 1, ком. 2 процентная ставка: минимальная годовая процентная ставка 182,5%, максимальная годовая процентная ставка - 730% в зависимости от суммы и срока займа, пеня при невыплате займа: 20% годовых
                    </div>
                </div>
            </div>
            <div class="tpl-creditors__item">
                <div class="tpl-creditors-item">
                    <div class="tpl-creditors-item__title">ООО МФО «Е заем»
                    </div>
                    <div class="tpl-creditors-item__text">№651303045003161, ОГРН 1127746672130, 123100, г. Москва, Пресненская набережная, дом 12, помещение 4 процентная ставка: минимальная годовая процентная ставка - 547,5%, максимальная годовая процентная ставка - 795,152% в зависимости от суммы и срока займа, пеня при невыплате займа: 20% годовых
                    </div>
                </div>
            </div>
            <div class="tpl-creditors__item">
                <div class="tpl-creditors-item">
                    <div class="tpl-creditors-item__title">ООО МФК "ЭйрЛоанс"
                    </div>
                    <div class="tpl-creditors-item__text">ОГРН 1137746543296, регистрационный номер в реестре МФО 651303045003744, г. Москва, 123317, Пресненская наб. 8, стр.1 процентная ставка: минимальная годовая процентная ставка - 36%, максимальная годовая процентная ставка - 400,75% в зависимости от суммы и срока займа, пеня при невыплате займа: 20% годовых
                    </div>
                </div>
            </div>
            <div class="tpl-creditors__item">
                <div class="tpl-creditors-item">
                    <div class="tpl-creditors-item__title">АО «Тинькофф Банк»
                    </div>
                    <div class="tpl-creditors-item__text">Лицензия ЦБ РФ № 2673, адрес: 1-й Волоколамский проезд, д. 10, стр. 1, Москва, 123060 Россия процентная ставка: минимальная годовая процентная ставка 12,9%, максимальная годовая процентная ставка - 36,5% в зависимости от суммы и срока займа, пеня при невыплате займа: 20% годовых</div>
                </div>
            </div>
        </div>

    </div>
</section>