<section class="tpl-faq">
    <div class="tpl-cont">
        <div class="tpl-faq__title">Часто задаваемые вопросы</div>
        <div class="tpl-faq__wrapper">
            <div class="tpl-faq__items">
                <div class="tpl-faq__item">
                    <div class="tpl-faq-item">
                        <div class="tpl-faq-item__title">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 8L12 16L22 8" stroke="#1A87D8" stroke-width="2"/>
                            </svg>
                            Расскажите как работает ваш сервис? Почему мне одобрят кредит?
                        </div>
                        <div class="tpl-faq-item__text">
                            Конечно, наш сервис как раз и создан для того, чтобы вы выбирали лучшие предложения. Мы
                            отправляем вашу заявку сразу в несколько банков, и затем вы можете поступить по своему
                            усмотрению – воспользоваться только одним предложением, или сразу несколькими. В любом
                            случае, деньги вы получите!
                        </div>
                    </div>
                </div>
                <div class="tpl-faq__item">
                    <div class="tpl-faq-item">
                        <div class="tpl-faq-item__title">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 8L12 16L22 8" stroke="#1A87D8" stroke-width="2"/>
                            </svg>
                            Расскажите как работает ваш сервис? Почему мне одобрят кредит?
                        </div>
                        <div class="tpl-faq-item__text">
                            Конечно, наш сервис как раз и создан для того, чтобы вы выбирали лучшие предложения. Мы
                            отправляем вашу заявку сразу в несколько банков, и затем вы можете поступить по своему
                            усмотрению – воспользоваться только одним предложением, или сразу несколькими. В любом
                            случае, деньги вы получите!
                        </div>
                    </div>
                </div>
                <div class="tpl-faq__item">
                    <div class="tpl-faq-item">
                        <div class="tpl-faq-item__title">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 8L12 16L22 8" stroke="#1A87D8" stroke-width="2"/>
                            </svg>
                            Расскажите как работает ваш сервис? Почему мне одобрят кредит?
                        </div>
                        <div class="tpl-faq-item__text">
                            Конечно, наш сервис как раз и создан для того, чтобы вы выбирали лучшие предложения. Мы
                            отправляем вашу заявку сразу в несколько банков, и затем вы можете поступить по своему
                            усмотрению – воспользоваться только одним предложением, или сразу несколькими. В любом
                            случае, деньги вы получите!
                        </div>
                    </div>
                </div>
                <div class="tpl-faq__item">
                    <div class="tpl-faq-item">
                        <div class="tpl-faq-item__title">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 8L12 16L22 8" stroke="#1A87D8" stroke-width="2"/>
                            </svg>
                            Расскажите как работает ваш сервис? Почему мне одобрят кредит?
                        </div>
                        <div class="tpl-faq-item__text">
                            Конечно, наш сервис как раз и создан для того, чтобы вы выбирали лучшие предложения. Мы
                            отправляем вашу заявку сразу в несколько банков, и затем вы можете поступить по своему
                            усмотрению – воспользоваться только одним предложением, или сразу несколькими. В любом
                            случае, деньги вы получите!
                        </div>
                    </div>
                </div>
                <div class="tpl-faq__item">
                    <div class="tpl-faq-item">
                        <div class="tpl-faq-item__title">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 8L12 16L22 8" stroke="#1A87D8" stroke-width="2"/>
                            </svg>
                            Расскажите как работает ваш сервис? Почему мне одобрят кредит?
                        </div>
                        <div class="tpl-faq-item__text">
                            Конечно, наш сервис как раз и создан для того, чтобы вы выбирали лучшие предложения. Мы
                            отправляем вашу заявку сразу в несколько банков, и затем вы можете поступить по своему
                            усмотрению – воспользоваться только одним предложением, или сразу несколькими. В любом
                            случае, деньги вы получите!
                        </div>
                    </div>
                </div>
            </div>

            <div class="tpl-faq__image">
                <img class="tpl-faq-img" src="resources/img/faq-img.png" alt="faq-img">

                <div class="tpl-faq__button">Получить деньги</div>
            </div>
        </div>
    </div>
</section>